<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div>
    <h2>Ваши данные:</h2>
    <p>ID: <span th:text="${user.id}"></span></p>
    <p>Name: <span th:text="${user.name}"></span></p>
    <p>Surname: <span th:text="${user.surname}"></span></p>
    <p>Age: <span th:text="${user.age}"></span></p>
<!--    <p>ROLE: <span th:text="${user.role.getRole()}"></span></p>-->
</div>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>